<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="../css/bootstrap.min.css" rel="stylesheet">-->
<!--    <style>-->
<!--        .container {-->
<!--            max-width: 560px;-->
<!--        }-->
<!--        .field-error{-->
<!--            border-color: #dc3545;-->
<!--            color: #dc3545;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <h1>
        회원가입
    </h1>
    <form name="signup-form" >
        ID: <input type="text" name="name"/>
        PW: <input type="password" name="password"/>
    </form>
</body>
</html>